/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap');

:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(176, 88%, 27%);
  --first-color-alt: hsl(129, 44%, 94%);
  --second-color: hsl(34, 94%, 87%);
  --title-color: hsl(0,0%, 13%);
  --text-color: hsl(154, 13%, 32%);
  --text-color-light: hsl(60, 1%, 56%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(129, 36%, 85%);
  --border-color-alt: yellowgreen;
  --btn-color: hsl(176, 88%, 27%);
  --btn-color-hover: hsl(176, 88%, 37%);
  --btn-color-green: hsl(120, 100%, 25%);
  --btn-color-blue: hsl(209, 100%, 40%);
  --btn-color-yellow: hsl(48, 100%, 67%);
  
  --btn-color-red: hsl(0, 100%, 63%);
  --btn-color-light: hsl(176, 88%, 47%);
  --shadow-color: rgba(0, 0, 0, .1);
  --error-color: hsl(0, 100%, 63%);
  --success-color: hsl(120, 100%, 25%);

  --warning-color: hsl(48, 100%, 67%);
  --info-color: hsl(196, 83%, 75%);
  --dark-color: hsl(0, 0%, 10%);
  --light-color: hsl(0, 0%, 97%);
  --body-light-color: hsl(0, 0%, 99%);
  --white-color: #fff;
  --black-color: #000;


  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'Lato', sans-serif;
  --second-font: 'Spartan', sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.7rem;
  --tiny-font-size: 0.6875rem;


  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0, 0, 0.05, 1);
}

@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --h4-font-size: ;
    --large-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
    --tiny-font-size: ;
  }
}

/*=============== BASE ===============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
body{
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}


body{
  background-color: var(--body-color);
}
h1,h2,h3,h4{
  font-family: var(--second-font);
  font-weight: var(--weight-600);
  color: var(--title-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  line-height: 1.5rem;
}

img{
  max-width: 100%;
}

button,
textarea,
input{
  background-color: transparent;
  border: none;
  outline: none;
}


/* ===================Key Frames=============== */

@keyframes smooth {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}


/* ===================Global Styles=============== */
/* Apply box-sizing border-box to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General styles for header */
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--first-color-alt);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent overflow */
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tab-menu {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  list-style: none;
  font-size: var(--normal-font-size);
}

.tab-menu a {
  text-decoration: none;
  color: var(--first-color);
  font-size: var(--h4-font-size);
  transition: color 0.3s ease;
}

.tab-menu a:hover {
  color: var(--text-color);
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap; /* Allow elements to wrap */
}

.search-filter {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap; /* Allow elements to wrap */
}

.search-filter input,
.search-filter select {
  padding: 0.5rem 1rem;
  font-size: var(--small-font-size);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.search-filter input:focus,
.search-filter select:focus {
  outline: none;
  box-shadow: 0 1px 1px 0px var(--second-color);
  border: 2px solid var(--border-color-alt);
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* Adjusted gap for better spacing */
}

.auth ul{
  display: flex;
  gap: 1rem;

}

.auth .btn {
  background-color: var(--first-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: var(--small-font-size);
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.auth .btn:hover {
  background-color: var(--btn-color-green);
}

/* Responsive styles */
/* Responsive styles for screens up to 1024px */
@media (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .left {
    width: 100%;
    justify-content: space-between;
  }

  .tab-menu {
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
  }

  .right {
    width: 100%;
    gap: 1rem;
  }

  .search-filter {
    width: 100%;
    gap: 0.5rem;
  }

  .search-filter input,
  .search-filter select {
    flex: 1 1 calc(33.333% - 0.5rem); /* Distribute inputs evenly */
  }

  .auth .btn {
    width: 100%;
    font-size: smaller;
  }
}

/* Responsive styles for screens up to 768px */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0.5rem;
  }

  .left {
    width: 100%;
    justify-content: space-between;
  }

  .tab-menu {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .right {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .search-filter {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .search-filter input,
  .search-filter select {
    width: 100%;
  }

  .auth .btn {
    width: 100%;
  }
}


/* .product-card {
  animation: smooth 1s infinite;
} */

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button.disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Product Card */
.product-card {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.image-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 12px;
}

.product-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.product-card h2 {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  margin-bottom: 10px;
}

.product-card p {
  font-size: var(--small-font-size);
  color: var(--text-color);
  line-height: 1.5;
  margin-bottom: 12px;
}

.product-card .details {
  margin-bottom: 12px;
}

.product-card .details div {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
  margin-bottom: 4px;
}

.product-card .price {
  font-size: var(--small-font-size);
  color: chocolate;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card .discount-percentage {
  font-size: 0.9rem;
  color: var(--first-color);
  margin-bottom: 6px;
}

.product-card .rating {
  font-size: 1rem;
  color: var(--first-color);
  margin-bottom: 8px;
}

.product-card .rating.high {
  color: #4caf50; /* Green */
}

.product-card .rating.medium {
  color: #ff9800; /* Orange */
}

.product-card .rating.low {
  color: #f44336; /* Red */
}

.product-card .stock {
  font-size: 0.9rem;
  color: var(--first-color);
  margin-bottom: 8px;
}

.product-card .low-stock {
  color: #f44336; /* Red */
}

.product-card .reviews-summary {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.quantity-selector {
  margin-top: 10px;
}

.quantity-selector label {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 4px;
}

.quantity-selector input[type="number"] {
  width: 50px;
  padding: 6px;
  font-size: 0.9rem;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.btn {
  background-color: var(--btn-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  margin: 0.3rem 0;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--btn-color-hover); /* Darker shade of second-color */
  border: 1px solid var(--btn-color-yellow);
}

.btn + .btn {
  margin-left: 10px;
}


/* End Product cards */

        /* Footer */
        footer {
          background: #343a40;
          color: #8a8a8a;
          font-size: var(--small-font-size);
        }

        .footer-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 1100px;
          margin: 0 auto;
        }

        .footer-section {
          flex: 1;
          margin-top: 10px;
        }

        .footer-section h2 {
          color: #fff;
          font-size: var(--h2-font-size);
          /* margin-bottom: 20px; */
        }

        .footer-section p {
          color: #8a8a8a;
        }

        .contact {
          margin-top: 10px;
          color: #8a8a8a;
        }
        .contact-form {
          margin-top: 10px;
        }
        .contact-form input,
        .contact-form textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .contact-form input:focus,
        .contact-form textarea:focus {
          outline: none;
          border-color: #007bff;
        }

        .contact span {
          display: block;
          margin-bottom: 10px;
        }

        .socials a {
          font-size: var(--normal-font-size);
          margin-right: 10px;
          color: #8a8a8a;
        }

        .footer-section ul {
          list-style: none;
          padding: 0;
        }

        .footer-section ul a {
          color: #8a8a8a;
          text-decoration: none;
        }

        .footer-section ul a:hover {
          color: #fff;
        }

        .footer-bottom {
          background: #212529;
          padding: 10px 0;
          text-align: center;
          color: #8a8a8a;
          font-size: var(--tiny-font-size);
        }

        .footer-bottom a {
          color: #8a8a8a;
          text-decoration: none;
        }

        .footer-bottom a:hover {
          color: #fff;
        }

        /* Media Queries */
        @media screen and (max-width: 1000px) {
          .footer-content {
            flex-direction: column;
          }
        }

        @media screen and (max-width: 768px) {
          .footer-section {
            margin: 0 0;
          }
          
          .btn + .btn {
            margin-left: 0px;
          }

        }

/* Toast Styles */
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: rgb(4, 100, 4); /* Default background color for success */
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 30px;
  bottom: 30px;
  font-size: 17px;
}

.toast.error {
  background-color: rgb(186, 93, 93); /* Background color for error */
}

.toast.show {
  z-index: 999999;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast .close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(247, 233, 233);
  font-weight: 600;
  cursor: pointer;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/* End Toast Styles */
/* ========== MEDIA QUERIES ========== */

@media screen and (min-width: 576px) {
  body {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
  }
}


